body{
    background-image: url(../images/cjAR9D3.jpg);
    background-size: cover;     
}

input{
    border-radius: 20px;
}
div{

    padding:6px;
}
h1{
    
    color: rgb(58, 94, 95);
}
label{
    color: rgb(82, 129, 131);
}
button{
    
    border-radius: 20px;
    border-color: cadetblue;
    padding: 10px;
    
    font-size: medium  ;

}
.formulariogordo{
    
    border: 2px solid;
    border-color: cadetblue;
    background-color: rgb(211, 211, 211, 0.8);
    opacity: 0.8;
    backdrop-filter: blur(10px);

    text-align: center;
    padding: 20px;
    width: 500px;
    border-radius: 20px;
    margin: 50px auto;        
    font-family:Georgia, 'Times New Roman', Times, serif
    
}

#campoGenero{
    
    border: 1px solid;
    background-color: white;
    width: 200px;
    margin-top: 20px;
    margin: auto;
}