<h1>Editar Libro</h1>
<a class="btn" routerLink="/libros">← Volver</a>

<br><br>

<p *ngIf="notFound">❌ Libro no encontrado.</p>

<form *ngIf="!notFound" (ngSubmit)="onSubmit()">

  <label for="titulo">Título *</label>
  <input type="text" id="titulo" [(ngModel)]="libro.titulo" name="titulo" required>

  <label for="autor">Autor *</label>
  <input type="text" id="autor" [(ngModel)]="libro.autor" name="autor" required>

  <label for="genero">Género</label>
  <select id="genero" [(ngModel)]="libro.genero" name="genero">
    <option>Ficción</option>
    <option>No ficción</option>
    <option>Ciencia ficción</option>
    <option>Fantasía</option>
    <option>Terror</option>
    <option>Historia</option>
    <option>Otro</option>
  </select>

  <label for="anio">Año</label>
  <input type="number" id="anio" [(ngModel)]="libro.anio" name="anio">

  <label for="descripcion">Descripción *</label>
  <textarea id="descripcion" [(ngModel)]="libro.descripcion" name="descripcion" rows="3" required></textarea>

  <button type="submit">Guardar cambios</button>
  <button type="button" (click)="onCancel()">Cancelar</button>

</form>

<hr *ngIf="!notFound">
<button *ngIf="!notFound" (click)="deleteLibro()">🗑️ Eliminar este libro</button>
